services:
  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: web
    restart: on-failure
    networks:
      - portfolio

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: on-failure
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "80:80"
      - "443:443"
    networks:
      - portfolio

networks:
  portfolio:
    name: portfolio-network
    driver: bridge
volumes:
  caddy_data:
  caddy_config: