services:
  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: web
    restart: on-failure
    networks:
      - local

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: on-failure
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "443:443"
    networks:
      - local

networks:
  local:
    name: local-network
    driver: bridge
volumes:
  caddy_data:
  caddy_config: