@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #000;
  --foreground: #ededed;
  --secondary-bg: #000;
  --accent: oklch(37.8% 0.077 168.94);
  --accent-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-bg: var(--secondary-bg);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@media (min-width: 112rem) {
  /* 1792px → 3xl */
  .container {
    max-width: 112rem;
  }
}

@media (min-width: 128rem) {
  /* 2048px → 4xl */
  .container {
    max-width: 128rem;
  }
}

@media (hover: none) {
  .responsive-card-description {
    grid-template-rows: 1fr;
  }
}

@media (hover: hover) {
  .responsive-card-description {
    grid-template-rows: 0fr;
  }
}
